body{
    background-color: rgb(247, 250, 98);
}
@media (min-width:200px) and ( max-width:300px) {
    body {
        background-color: rgb(248, 177, 227);
    }
}

@media ( min-width:381px) and (max-width:470px) {
    body {
        background-color: rgb(133, 255, 184);
    }
}
@media ( min-width:581px) and (max-width:670px){
    body {
        background-color: aqua;
    }
}
@media ( min-width:750px) and (max-width:780px) {
    body {
        background-color: rgb(199, 255, 88);
    }
}
img {
    float: right;
}
img {
    
}
.photo {
    border: 5px solid rgb(255, 173, 79);
    width: 550px;
}
h1 {
    margin-left: 100px;
   
}